/* normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* globals */
html {
  font-size: 62.5%; }

body {
  font-family: "Lora", serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

nav {
  display: flex;
  justify-content: space-between;
  background-color: #E7D4B6; }
  nav .nav__logo {
    margin-left: 10rem;
    padding: 0.5rem; }

.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  padding: 1.5rem; }
  .menu__link {
    color: #000000;
    font-family: "Cinzel", serif;
    font-size: 2em;
    font-weight: 400;
    padding: 1.5rem; }
    .menu__link:hover {
      color: #606e77; }
    .menu__link span {
      font-family: "Cinzel Decorative", cursive; }
