@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
/* normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* globals */
html {
  font-size: 62.5%; }

body {
  font-family: "Lora", serif; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

video {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: 1 1 100%;
  object-fit: cover; }

nav {
  display: flex;
  justify-content: space-between;
  background-color: #E7D4B6; }
  nav .nav__logo {
    margin-left: 10rem;
    padding: 0.5rem; }

.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  padding: 1.5rem; }
  .menu__link {
    color: #000000;
    font-family: "Cinzel", serif;
    font-size: 2em;
    font-weight: 400;
    padding: 1.5rem; }
    .menu__link:hover {
      color: #606e77; }
    .menu__link span {
      font-family: "Cinzel Decorative", cursive; }

footer {
  background-color: #ddccba;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem; }
  footer .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5rem; }
    footer .email h2 {
      margin-bottom: 1rem; }
    footer .email i {
      font-size: 4em;
      margin-bottom: 0.5rem; }
  footer .footer__menu .footer__link {
    display: block;
    color: black;
    font-size: 1.5em;
    padding: 0.5em; }
    footer .footer__menu .footer__link:hover {
      color: #B0B9C6; }
  footer .social__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .social__container .social i {
      font-size: 3em;
      margin-bottom: 1rem;
      padding: 1rem;
      color: black; }
    footer .social__container .image__footer img {
      width: 200px; }

.form__container {
  display: flex;
  width: 100%;
  align-items: center; }
  .form__container article {
    text-align: center;
    padding: 0 10rem; }
    .form__container article h1 {
      font-size: 3em; }
    .form__container article h2 {
      font-size: 2em; }
    .form__container article span {
      display: inline-block;
      color: black;
      font-size: 2em;
      margin-top: 3rem;
      background-color: #e7d4b6;
      border-radius: 10px;
      padding: 2rem 5rem; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  background-color: #e7d4b6;
  border-radius: 50px;
  padding: 3rem; }
  .form__div {
    width: 100%;
    margin-top: 1rem; }
    .form__div label {
      font-size: 1.7em;
      color: #B0B9C6; }
      .form__div label input {
        width: 100%;
        background-color: red; }
  .form .form__div input {
    height: 7vh;
    font-size: 1.8em; }
  .form textarea {
    font-size: 1.8em; }

.form-control {
  border-radius: 20px; }

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: 30vh; }

.form__button {
  margin-top: 1.5rem; }
  .form__button input {
    font-size: 2em;
    margin: 0 1rem;
    background-color: transparent; }

.form-control:focus {
  border-color: #e4cdbb;
  box-shadow: none; }
