<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinita Serendipia</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header>
        <picture class="logo">
            <a href="./home.html">
                <img class="logo-img" src="../img/brand/logo.png" alt="Logo Infinita Serendipia"
                    title="Infinita Serendipia">
            </a>
            </div>
        </picture>
        <nav class="navbar">
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-link" href="./self-care.html">Self-Care</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./astrologias.html">Astrologías</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./d-humano.html">Diseño Humano</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./tzolkin.html">Tzolkin</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./sesiones.html">Sesiones</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./comunidad.html">Comunidad y Lifestyle</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="line">
        <span></span>
        <img src="../img/soga-header.svg" alt="">
        <span></span>
    </div>

    <main class="main-home">
        
        <div class="title-container">
        <h1 class="home-title">¡AHOY TRIPULANTES DE LA TIERRA!</h1>
        <p class="home-p">
            Bienvenidos a bordo... <br><br>
    
            Infinita Serendipia trae el propósito de ser espacio de asistencia, encuentro y reconexión con el ser que somos en lo colectivo y en tu individualidad. <br><br>
            
            Los humanos y todos los seres vivientes que habitamos la Tierra, somos los tripulantes en esta nave de la evolución. Sostenemos el encordado de consciencia y creamos la matríz resonando como fractales de ella.
    
            Éste es un espacio para restaurar tu matríz del corazón encontrando información y recursos que idealmente te asistan a recordar el sentido de lo que la vida te dió para emprender tu misión de existir en integridad y pureza con la creación...
        </p>
    </div>


        <div class="line">
            <span></span>
            <img src="../img/soga-header.svg" alt="">
            <span></span>
        </div>


    <section class="sobre-mi">
        <picture>
            <!-- <img class="estrella" src="./public/img/estrella-1.png" alt="">
            <img class="estrella" src="./public/img/estrella-2.png" alt=""> -->
            <img class="foto-perfil" src="../img/ool.png" alt="">
    </picture>
    <div class="info">
        <h2 class="info-title">Ahoy navegantes! Soy Óol</h2>
        <p class="info-p">Astróloga, coach ontológica, product manager y digital marketer.</p>
        <button class="info-button"><a href="">MÁS SOBRE MI</a></button>
    </div>
</section>
    </main>

</body>

</html>