nav {
    display: flex;
    justify-content: space-between;
    background-color: #E7D4B6;

    & .nav__logo {
        margin-left: 10rem;
        padding: 0.5rem;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
    padding: 1.5rem;
    &__link {
        color: #000000;
        font-family: $font-principal;
        font-size: 2em;
        font-weight: 400;
        padding: 1.5rem; 
        &:hover {
            color: #606e77;
        }
        & span {
            font-family: $font-primary;
        }
        }
        
}



