// variables

$font-principal: 'Cinzel', serif;
$font-primary: 'Cinzel Decorative', cursive;
$font-secondary: 'Lora', serif;


// colors

$text-color-primary: #4A4A4A;
$text-color-secondary: #ebede6;
$bg-color: #e7d4b6;
$bg-color-primary: #b1b9c6;
$bg-color-secondary: #606e77;
$bg-color-alternative: #e4cdbb;

